In [1]:
# import all libraries and packages

# packages for data analysis
import pyforest
import numpy as np
import pandas as pd
from sklearn import svm
import tensorflow as tf
from pathlib import Path
import glob

# visual your data
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(font_scale=1.2)

%matplotlib inline

In [8]:
import os
from os import path, environ
path_dir = r'C:\Users\HP\Desktop\dataset'
for files in os.listdir(path_dir):
    print(files)

012018.csv
022019.csv
032020.csv
042021.csv
052022.csv

In [95]:
data.head()

,PACT_ID,MRN,AGE,YEAR_FILE_CREATION,PATIENT_FILE_CREATION_DATE,GENDER,APPOINTMENT_DTM,APPOINTMENT_DATE,APPOINTMENT_DAY,APPOINTMENT_MONTH,...,AVG_DAYS_BETWEEN_TWO_VISITS,SLOT_DURATIONSTART,SLOT_DURATIONEND,SLOT_DURATION,TOTAL_NO_SHOW_COUNT,TOTAL_APPT_COUNT,SMS_SUCCESS,FREE_ELIG_TYPE,PERCENT_OF_PATIENT_FEE_YN,NO_SHOW_RATIO
0,178047,299701,10,2007,16/11/2007,Male,01/01/2018 10:15:00,01/01/2018 00:00:00,1,1,...,150,01/01/2018 10:15:00,01/01/2018 10:44:00,30,1,7,Y,Y,N,14
1,185799,361480,23,1994,25/12/1994,Female,01/01/2018 13:45:00,01/01/2018 00:00:00,1,1,...,25,01/01/2018 13:45:00,01/01/2018 14:14:00,30,3,21,N,Y,N,14
2,173078,404313,27,2004,07/09/2004,Female,01/01/2018 08:45:00,01/01/2018 00:00:00,1,1,...,19,01/01/2018 08:45:00,01/01/2018 09:14:00,30,2,21,Y,Y,N,10
3,188481,501212,29,2000,30/12/2000,Male,01/01/2018 09:15:00,01/01/2018 00:00:00,1,1,...,41,01/01/2018 09:15:00,01/01/2018 09:44:00,30,11,23,N,Y,N,48
4,172948,507985,38,2004,09/08/2004,Male,01/01/2018 10:45:00,01/01/2018 00:00:00,1,1,...,26,01/01/2018 10:45:00,01/01/2018 11:14:00,30,6,42,Y,Y,N,14

In [92]:
path_dir =r'C:\Users\HP\Documents\dataset'
for files in os.listdir(path_dir):
    print(files)

data_file1.csv
data_file2.csv
data_file3.csv
data_file4.csv
data_file5.csv

In [42]:
import os
fn="C:\\Users\\HP\\Documents\\dataset"
os.path.exists(fn)

True

In [34]:
# find the current working directory:
import os
os.getcwd()

'C:\\Users\\HP\\Desktop\\AI practical'

In [38]:
#change the directory:
os.chdir(r'C:\\Users\\HP\\Documents\\dataset')

In [133]:
# lazy_imports()

Empty DataFrame
Columns: []
Index: []